<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <span class="page-heading">
        新規投稿
      </span>
          <%= render partial: "form", locals: { event: @event } %>
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>