<%# <% flash.each do |key, value| %>
    <%# <p class="alert alert-<%= key %>"> %>
      <%# <%= value %> %>
    <%# </p> %>
<%# <% end %> %> %>
<div class="notifications">
 <div class="notice">メッセージが送信されました</div>
</div>